/* From Uiverse.io by SalladShooter */ 
.chatitem {
    cursor: pointer;
    width: 200px;
    height: auto;
    padding: 7px 10px;
    color: white;
    background: #212121;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 0.5em;
    outline: 0.1em solid #353535;
    border: 0;
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    position: relative;
  }
  
  .chatitem:hover, .profile-ul, .explore {
    transform: scale(1.1);
    box-shadow: 0 0 1em 0.45em rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #212121, #252525);
    background: radial-gradient(
      circle at bottom,
      rgba(50, 100, 180, 0.5) 10%,
      #212121 70%
    );
    outline: 0;
  }

  .bg-glass {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .glass-effect {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 7px 15px;
  }